h1 {
  margin-bottom: 5%;
}
.rows-contributor {
  margin: 10px !important;
  border-radius: 120px 0 120px 0px;
}
.rows-contributor:nth-child(even) {
  background-color: #221b3a;
}
.rows-contributor:nth-child(odd) {
  background-color: #6c5ba7;
}
.MuiPaper-root {
  transition: none;
  background-color: #fff;
  width: 150px;
  height: 150px;
}
.MuiPaper-root img {
  width: 150px;
  height: 150px;
}
