.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 50px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff2f2;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.card-link {
  text-decoration: none;
  color: #e4535e;
  font-size: 30px;
}
.title {
  font-size: 50px;
  margin: 50px auto;
  text-align: center;
  color: #e4535e;
  text-shadow: 5px -1px 9px rgba(195, 115, 126, 1);
}
