.App {
  text-align: center;
}
body {
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #91d7f2;
}
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0c154a;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
div.scroll {
  height: 100vh;
}
